.docker/
ssl/
.env
.wwebjs_auth
node_modules/
dist/
sssbuild
engine-go

# Global ignores
**/build/
**/.DS_Store
**/*.log
**/.vscode/
**/.idea/
**/coverage/

# Legacy & Obsolete
docs/old/
rule/dev_micro.md
